.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #008000;
    position: relative;
    animation: move 2s linear infinite alternate 0s forwards;
}
.circle:hover {
    background-color: red;
    transition: 2s;
  }
  @keyframes move {
    from { margin-left: 1px; }
    to { margin-left: 100%; }
    }
  
  