
 table, td{   
    border: 2px solid lightgray; /* толщина и цвет линии таблицы */
    border-collapse: collapse;
    text-align: center; /* выравнивание текста по центру */
    padding: 10px; /* отступ от линии */
}
.black { /* класификация строки( в нтмл тоже) */
    background: black; /* Цвет фона таблицы */
    color: white;
}
.orange {
    background: rgb(204	148	77	);  
}
.green {
    background: rgb(55	125	34	); 
}
.blue {background: rgb(34	87	141	); 
}
.yellow {background: rgb(255	254	85	); 
}
.red {
    background: rgb(178	56	53	); 
}
.purple {
    background: rgb(127	118	178	); 
}
img {
    border-radius: 20px;
}
